.bgfooter {
  background-color: black;
}

p {
  color:white;
  font-size: 20px!important;
}
h1 {
  font-size: 60px!important;
}
h1, h2 {
  color:#E3B03D;
}

.App {
  text-align: center;
}
 
 .bg-image {
  background-image: 
  url(
    "../src/img/bitcoin-g8a429284a_1920.jpg");
      background-size: "cover";
      height: 100vh;
      margin-top: 0px;
      font-size:50px;
      background-repeat:no-repeat; 
      z-index: -1;
 }
  .margintop {
   margin-top: 2.5em!important;
   margin-left: 0.5em!important;
  
  }
 .questionbg {
  background-color: rgba(114, 105, 105, 0.9);
 }
.footerbg {
  background-color: rgba(15, 15, 15, 0.9);
}
 .bg-trans {
  background-color: rgba(15, 15, 15, 0.9);
 }
 .center {
   display:flex;
   text-align: center;
   justify-content: center;
   margin-top: 2em;
 }
 
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


